<%- include('../partials/header') %>
  <h2><%= title %></h2>
  <form action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat
      <input name="seat" placeholder="A1 - F99" required pattern="[A-F][1-9]\d?">
    </label><br>
    <label>Price
      <input type="number" name="price" required>
    </label><br>
    <input type="submit" value="Add Ticket">
  </form>
<%- include('../partials/footer') %>